button {
  padding: auto;
}

canvas {
  position: fixed;
  left: 0;
  top: 0;
  z-index: -1;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

html {
  font-family: myFirstFont;
  color: #141414;
  line-height: 5px;
}

ul {
  list-style-type: none;
  text-align: center;
  display: inline-block;
  position: absolute;

  line-height: 15px;
}

li {
  padding-left: 50%;
}

input {
  border: black;
  border-radius: 10px;
  border-style: solid;
  margin-left: 10%;
}

input:hover {
  border: white;
  border-radius: 10px;
  border-style: solid;
}

body {
  margin: 0;
  background: rgb(36, 36, 36);
  overflow: scroll;
}

h1 {
  font-size: 50px;
  color: white;
}

h2 {
  color: white;
  line-height: 20px;
}

footer {
  position: fixed;
  bottom: 10px;
  width: 50%;
}

@font-face {
  font-family: myFirstFont;
  src: url(BebasNeue-Regular.ttf);
}

#coolclock {
  background-image: url("space.jpg");
  width: 355px;
  height: 100px;
  margin-left: 10%;
  color: white;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

#verse {
  background-image: url("galaxy.jpg");
  line-height: 15px;
  width: 355px;
  height: 100px;
  margin: auto;
  color: white;
  border-radius: 10px;
  border: black;
  border-width: 10px;
  position: relative;
  opacity: 0;
}

#tails {
  position: absolute;
  padding-top: 10px;
  z-index: 99;
}

#header {
  position: sticky;
  top: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-backdrop-filter: blur(4px);
  -o-backdrop-filter: blur(4px);
  -moz-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  z-index: 100;
}

#navarrow {
  width: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  padding-top: 1%;
}

#coollinks {
  padding-left: 10%;
  font-size: 50px;
}

#quote {
  position: absolute;
  padding-top: 10%;
  text-align: center;
  font-size: 50px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

#blurb {
  padding-top: 5%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 25px;
  line-height: 25px;
}

#wrapper {
  border-radius: 10px;
  margin-top: 30%;
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(214, 214, 214, 1) 0%,
    rgba(177, 177, 177, 1) 100%
  );
}
